/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images2/homeimagedark.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {  
    font-family: "ofelia-text", sans-serif;
	font-weight: 400;
	font-style: normal;
}

main { 
	padding: 2em 3em 5em;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;

}

header {
	display: grid;
	grid-template-columns: (1fr 5fr);
	background: rgb(111,78,55);
	padding: 2em 5em 0em 1em;
	}

h1 {
	grid-column: 1/2;
	width: 15em;
	}

h3, h4 {
	font-weight: bold;
	}

h2 {
	font-size: 5em;
	font-family: "blithe", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(111,78,55);
	margin: 0em 0em 0.5em;
	}
	
h3 {
	font-size: 2em;
	margin: 1em 0em;
}

a {
	text-decoration: none;
	}

nav{
	grid-column: 2/auto;
}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 2em;
}

main.menu ul {
		margin: 3em 0em;
}	

main.menu ul li {
		margin: 1em 0em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0em 1em;
	}

p.description {
	grid-column: 1;
	margin: 0em;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(111,78,55);
	text-align: right;
	margin: 0em 1em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2em;
	}
	
nav ul li a {
	color: rgb(250,250,250);
	padding: 0.5em 0.5em 0.5em;
	}

nav ul li.selected a { 
	background-color: rgb(250,250,250);
	color: rgb(111,78,55);
}
	

p.slogan {
	font-size: 4em;
	font-family: "blithe", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1em;
	margin: 1em 0em 1em;
	color: rgb(250,250,250);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 2em;
  background: rgb(111,78,55);
}

address {
	color: rgb(250,250,250);
	}

address.contact{
	color: rgb(0,0,0);
}

footer p {
	margin: 0;
	color:rgb(250,250,250);
}

@media screen and (min-width: 45em) {

	nav ul li{
		display: inline;
		font-size: 1.25em;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
	}

	section{
		display: grid;
		grid-template-columns: 2fr 3fr;
		column-gap: 4em;
	}

}